# VSCode settings
.vscode
.vs

# Objects
obj
*.o

# Libraries
hob-Game/lib
hob-Server/lib

# Executables
hob/bin
hob-Server-Instance/bin

# Unit-test
coverage_report
*.gcno
*.gcda
*.gcov
*.info

# Logs
Heap-of-Battle/hob_logs.txt
Heap-of-Battle/hob_server_logs.txt
Heap-of-Battle/plog_level

# TODO-REMOVE
hob-Installer
hob-Game
hob-AI
*.hppa
*.cppa
