# VSCode settings
.vscode

# Objects
obj
*.o

# Libraries
hob-Game/lib
hob-Server/lib

# Executables
hob/bin
hob-Server-Instance/bin

# Unit-test
# coverage_report
*.gcno
*.gcda
*.gcov
*.info

# Install directory
Heap-of-Battle

# Compilation timer
vendor/Compilation-Timer/time

# Logs
hob_logs.txt*
