# VSCode settings
.vscode
.vs

# Objects
obj
*.o

# Libraries
hob-Game/lib
hob-Server/lib

# Executables
hob/bin

# Unit-test
coverage_report
*.gcno
*.gcda
*.gcov
*.info

# Logs
Heap-of-Battle/messages
Heap-of-Battle/plog_level

# TODO-REMOVE
hob-Server
hob-Installer
hob-Game
hob-Server-Instance
